.footer__container{
    background-color: #262626;
    color: #a7a7a7;
    section:first-child{
        padding: 35px 0px 28px;
        .footer-cols{
            >div{
                float: right;
                p{
                    line-height: 25px;
                    padding: 10px 0;
                }
                h3{
                    color: $themeColor;
                }
                
                hr{
                    margin-right: 0px;
                    border-top-color: #aaaaaa;
                }
                figcaption{
                    a{
                        span{
                            box-shadow: inset 0px 0px 0px 10px $linkColor;
                            padding: 5px;
                            border-radius: 50%;
                            font-size: 8px;
                            color: #fefefe;
                        }
                    }
                }
                
                .footer-news{
                    ul{
                        list-style-type: none;
                        padding: 0px;
                        li{
                            margin: 10px;
                            padding: 7px 0px 45px;
                            border-bottom: 1px solid #515151;
                            div{
                                display: inline-block;
                                margin-left: 10px;
                                &:first-child{
                                    span{
                                        display: block;
                                        width: 50px;
                                        text-align: center;
                                        &:first-child{
                                            color: $themeColor;
                                            background-color: #fefefe;
                                            font-size: 24px;
                                            padding: 3px;
                                        }
                                        &:last-child{
                                            color: #fefefe;
                                            background-color: $themeColor;
                                            font-size: 16px;
                                            padding: 1px;
                                        }
                                    }
                                }
                                &:last-child{
                                    margin-top: 5px;
                                    vertical-align: super;
                                    h5{
                                        color: #a7a7a7;
                                    }
                                    span{
                                        color: $regularColor;
                                        display: block;
                                    }
                                }
                            }//div
                        }//li
                    }//ul
                }//.footer-news
            }//>div
        }//.footer-cols
    }//section:first-child
    section:last-child{
        background: #202020;
        .footer-cols{
            display: flex;
            padding: 34px 0px 21px;;
            >div{
                float: right;
                a{
                    color: #a7a7a7;
                    &:hover{
                        color: $linkColor;
                    }
                }

                nav{
                    display: inline-block;
                    float: left;
                    ul{
                        list-style-type: none;
                        padding: 0px;
                        li{
                            float: left;
                            display: flex;
                            a{
                                width: 15px;
                                height: 15px;
                                background-image: url('../images/foorer-social.png');
                                background-repeat: no-repeat;
                            }
                            &:nth-child(2){
                                a{
                                    background-position: -15px;
                                }
                            }
                            &:nth-child(3){
                                a{
                                    background-position: -30px;
                                }
                            }
                            &:nth-child(4){
                                a{
                                    background-position: -45px;
                                }
                            }
                            &:nth-child(5){
                                a{
                                    background-position: -60px;
                                }
                            }
                            &:nth-child(6){
                                a{
                                    background-position: -75px;
                                }
                            }
                            &:nth-child(7){
                                a{
                                    background-position: -90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}//.footer__container