.footer__container{
    background-color: #262626;
    color: #a7a7a7;
    section:first-child{
        .footer-cols{
            >div{
                float: right;
                h3{
                    color: $themeColor;
                }
                hr{
                    margin-right: 0px;
                    border-top-color: white;
                }
                p{
                    padding: 10px 0;
                }
                .footer-news{
                    ul{
                        list-style-type: none;
                        padding: 0px;
                        li{
                            margin: 10px;
                            padding: 20px 0px 40px;
                            border-bottom: 1px solid #515151;
                            div{
                                display: inline-block;
                                &:first-child{
                                    span{
                                        display: block;
                                        width: 45px;
                                        text-align: center;
                                        &:first-child{
                                            color: $themeColor;
                                            background-color: white;
                                            font-size: large;
                                            padding: 5px;
                                        }
                                        &:last-child{
                                            color: white;
                                            background-color: $themeColor;
                                            padding: 1px;
                                        }
                                    }
                                }
                                &:last-child{
                                    h5{
                                        color: #a7a7a7;
                                    }
                                    span{
                                        color: $regularColor;
                                    }
                                }
                            }//div
                        }//li
                    }//ul
                }//.footer-news
            }//>div
        }//.footer-cols
    }//section:first-child
    section:last-child{
        background: #202020;
        .footer-cols{
            display: flex;
            padding: 25px 0px 20px;
            >div{
                float: right;
                a{
                    color: #a7a7a7;
                    &:hover{
                        color: $linkColor;
                    }
                }

                nav{
                    display: inline-block;
                    float: left;
                    ul{
                        list-style-type: none;
                        padding: 0px;
                        li{
                            float: left;
                            display: flex;
                            margin: 3px;
                            a{
                                width: 15px;
                                height: 15px;
                                background-image: url('../images/foorer-social.png');
                                background-repeat: no-repeat;
                            }
                            &:nth-child(2){
                                a{
                                    background-position: -15px;
                                }
                            }
                            &:nth-child(3){
                                a{
                                    background-position: -30px;
                                }
                            }
                            &:nth-child(4){
                                a{
                                    background-position: -45px;
                                }
                            }
                            &:nth-child(5){
                                a{
                                    background-position: -60px;
                                }
                            }
                            &:nth-child(6){
                                a{
                                    background-position: -75px;
                                }
                            }
                            &:nth-child(7){
                                a{
                                    background-position: -90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}//.footer__container