//-----------------------------------//
//               Main                //
//        called by style.scss       //
//-----------------------------------//
body{
    color: $regularColor;
    font-size: $regularSize;
    font-family: $regularFont;
    direction: rtl;
    
    a{
        color: $themeColor;
        transition-duration: 200ms;

        &:hover{
            color: lighten($themeColor, 10%);
            text-decoration: none;
            text-shadow: 0px 0px 2px darken($themeColor, 20%);
        }
    }


    //theme button sample
    //<div class="theme-button">
    //<a href="#" class="btn">ارسال تیکت</a>
    //</div>
    .theme-button{ 
        padding: 20px 0;
        a{
            color: white;
            font-size: 13px;
            background-color: #333333;
            border-radius: 3px;
            padding: 12px 26px;
            border: none;
            &:hover, :focus, :active{
                animation: pulse 0.8s;
                box-shadow: 0 0 10px 30px rgba(#fff,0);
                background-color: $hoverButtonColor;
                color: white;
            }
            @keyframes pulse {
                0% {
                    box-shadow: 0 0 0 0 $hoverButtonColor;
                color: white;

                }
            }
        }
    }
}

//-----------------------------------//
//               Slider              //
//-----------------------------------//
@import "main-modules/slider";

//-----------------------------------//
//               intro               //
//-----------------------------------//
@import "main-modules/intro";