@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir.woff2") format("woff2"), url("../fonts/vazir/Vazir.woff") format("woff"), url("../fonts/vazir/Vazir.ttf") format("truetype"), url("../fonts/vazir/Vazir.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.header__container {
  position: absolute;
  width: 100%;
  top: 70px;
  display: inline-block;
  z-index: 100;
}

.header__container nav {
  background-color: #ffffff;
  height: 120px;
  padding: 24px 0px;
  border-radius: 0px;
}

.header__container .header-logo {
  float: right;
  margin-right: 18px;
}

.header__container .header-logo button span {
  background-color: #5e5e5e;
}

.header__container .header-collapse {
  padding: 0px;
}

.header__container .header-search {
  float: left;
}

.header__container .header-search a {
  color: #5e5e5e;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  margin-top: 2px;
  font-size: 17px;
}

.header__container .header-search a:hover {
  text-shadow: unset;
}

.header__container .header-search a:hover span {
  color: #ed474a;
}

.header__container .header-search form {
  padding: 0px;
}

.header__container .header-search form input {
  width: 0px;
  opacity: 0;
  padding: 0px;
}

.header__container .header-menu {
  margin-top: 10px;
}

.header__container .header-menu ul {
  padding: 0px;
}

.header__container .header-menu ul li {
  float: right;
}

.header__container .header-menu ul li a {
  color: #5e5e5e;
}

.header__container .header-menu ul li a span {
  padding-bottom: 2px;
}

.header__container .header-menu ul li a:hover {
  background-color: unset;
  text-shadow: unset;
}

.header__container .header-menu ul li a:hover span {
  color: #ed474a;
  border-bottom: 2px solid #ed474a;
}

.header__container .header-menu ul li.active a span {
  color: #ed474a;
  border-bottom: 2px solid #ed474a;
}

.header__container .header-menu ul li.menu-divider {
  height: 20px;
  /* any height */
  border-left: 1px solid #5e5e5e;
  /* right or left is the same */
  float: left;
  /* so BS grid doesn't break */
  margin: 15px 15px;
}

.header__container .header-user {
  float: left;
}

.header__container .header-user ul {
  padding: 0px;
}

.header__container .header-user ul a {
  color: #5e5e5e;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  margin-top: 10px;
}

.header__container .header-user ul a:hover {
  text-shadow: unset;
}

.header__container .header-user ul a:hover span {
  color: #ed474a;
}

.header__container .header-user ul a:hover {
  background-color: unset;
}

body {
  color: #5e5e5e;
  font-size: 14px;
  font-family: vazir;
  direction: rtl;
}

body a {
  color: #ed474a;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

body a:hover {
  color: #f27578;
  text-decoration: none;
  text-shadow: 0px 0px 2px #bc1215;
}

body .theme-button {
  padding: 20px 0;
}

body .theme-button a {
  color: white;
  font-size: 13px;
  background-color: #333333;
  border-radius: 3px;
  padding: 12px 26px;
  border: none;
}

body .theme-button a:visited {
  color: white;
}

body .theme-button a:hover, body .theme-button a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed474a;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed474a;
            box-shadow: 0 0 0 0 #ed474a;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed474a;
            box-shadow: 0 0 0 0 #ed474a;
  }
}

.slider_container {
  background-color: #c57373;
  height: 800px;
}

.slider_container .slider-bar {
  height: 5px;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.slider_container > ul {
  list-style-type: none;
  padding: 0px;
}

.slider_container > ul > li {
  height: 800px;
  overflow: hidden;
  position: absolute;
}

.slider_container > ul > li img.slider-background {
  height: 100%;
  width: 100%;
}

.slider_container > ul > li .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 90px;
  margin-top: -610px;
}

.slider_container > ul > li .slider-content > div {
  width: calc(50% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 10px;
}

.slider_container > ul > li .slider-content > div img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.slider_container > ul > li .slider-content .slider-caption {
  text-align: left;
  color: white;
  line-height: 38px;
  padding-top: 22px;
}

.slider_container > ul > li .slider-content .slider-caption h2 {
  font-size: 38px;
}

.slider_container > ul > li .slider-content .slider-caption hr {
  border: 1px solid white;
  width: 99px;
  margin-left: -1px;
}

.slider_container > ul > li .slider-content .slider-caption ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
}

.slider_container > ul > li .slider-content .slider-caption ul li span {
  font-size: 20px;
  margin-left: 10px;
}

.intro__container {
  padding: 60px;
}

.intro__container .row > div {
  float: right;
}

.intro__container figure div {
  background-color: #efefef;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  padding-top: 21%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.intro__container figure div img {
  vertical-align: middle;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.intro__container figure div:hover {
  -webkit-box-shadow: inset 0px 0px 0px 100px #f6a4a5;
          box-shadow: inset 0px 0px 0px 100px #f6a4a5;
}

.intro__container figure div:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.intro__container figure figcaption {
  margin-top: 27px;
}

.intro__container figure figcaption hr {
  width: 40px;
  border-top: 2px solid #343434;
}

.intro__container figure figcaption p {
  line-height: 24px;
}

body {
  color: #5e5e5e;
  font-size: 14px;
  font-family: vazir;
  direction: rtl;
}

body a {
  color: #ed474a;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

body a:hover {
  color: #f27578;
  text-decoration: none;
  text-shadow: 0px 0px 2px #bc1215;
}

body .theme-button {
  padding: 20px 0;
}

body .theme-button a {
  color: white;
  font-size: 13px;
  background-color: #333333;
  border-radius: 3px;
  padding: 12px 26px;
  border: none;
}

body .theme-button a:visited {
  color: white;
}

body .theme-button a:hover, body .theme-button a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed474a;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed474a;
            box-shadow: 0 0 0 0 #ed474a;
  }
}

.slider_container {
  background-color: #c57373;
  height: 800px;
}

.slider_container .slider-bar {
  height: 5px;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.slider_container > ul {
  list-style-type: none;
  padding: 0px;
}

.slider_container > ul > li {
  height: 800px;
  overflow: hidden;
  position: absolute;
}

.slider_container > ul > li img.slider-background {
  height: 100%;
  width: 100%;
}

.slider_container > ul > li .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 90px;
  margin-top: -610px;
}

.slider_container > ul > li .slider-content > div {
  width: calc(50% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 10px;
}

.slider_container > ul > li .slider-content > div img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.slider_container > ul > li .slider-content .slider-caption {
  text-align: left;
  color: white;
  line-height: 38px;
  padding-top: 22px;
}

.slider_container > ul > li .slider-content .slider-caption h2 {
  font-size: 38px;
}

.slider_container > ul > li .slider-content .slider-caption hr {
  border: 1px solid white;
  width: 99px;
  margin-left: -1px;
}

.slider_container > ul > li .slider-content .slider-caption ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
}

.slider_container > ul > li .slider-content .slider-caption ul li span {
  font-size: 20px;
  margin-left: 10px;
}

.intro__container {
  padding: 60px;
}

.intro__container .row > div {
  float: right;
}

.intro__container figure div {
  background-color: #efefef;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  padding-top: 21%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.intro__container figure div img {
  vertical-align: middle;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.intro__container figure div:hover {
  -webkit-box-shadow: inset 0px 0px 0px 100px #f6a4a5;
          box-shadow: inset 0px 0px 0px 100px #f6a4a5;
}

.intro__container figure div:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.intro__container figure figcaption {
  margin-top: 27px;
}

.intro__container figure figcaption hr {
  width: 40px;
  border-top: 2px solid #343434;
}

.intro__container figure figcaption p {
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */