@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir.woff2") format("woff2"), url("../fonts/vazir/Vazir.woff") format("woff"), url("../fonts/vazir/Vazir.ttf") format("truetype"), url("../fonts/vazir/Vazir.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.header__container {
  position: absolute;
  width: 100%;
  top: 70px;
  display: inline-block;
  z-index: 100;
}

.header__container nav {
  background-color: #ffffff;
  height: 120px;
  padding: 24px 0px;
  border-radius: 0px;
}

.header__container .header-logo {
  float: left;
  margin-left: 18px;
}

.header__container .header-logo button span {
  background-color: #5e5e5e;
}

.header__container .header-collapse {
  padding: 0px;
}

.header__container .header-search {
  float: right;
}

.header__container .header-search a {
  color: #5e5e5e;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  margin-top: 2px;
  font-size: 17px;
}

.header__container .header-search a:hover {
  text-shadow: unset;
}

.header__container .header-search a:hover span {
  color: #ed484b;
}

.header__container .header-search form {
  padding: 0px;
  margin-right: 0;
}

.header__container .header-search form input {
  width: 0px;
  opacity: 0;
  padding: 0px;
}

.header__container .header-menu {
  margin-top: 10px;
  float: right;
}

.header__container .header-menu ul {
  padding: 0px;
}

.header__container .header-menu ul li {
  float: right;
}

.header__container .header-menu ul li a {
  color: #5e5e5e;
}

.header__container .header-menu ul li a span {
  padding-bottom: 2px;
}

.header__container .header-menu ul li a:hover {
  background-color: unset;
  text-shadow: unset;
}

.header__container .header-menu ul li a:hover span {
  color: #ed484b;
  border-bottom: 2px solid #ed484b;
}

.header__container .header-menu ul li.active a span {
  color: #ed484b;
  border-bottom: 2px solid #ed484b;
}

.header__container .header-menu ul li.menu-divider {
  height: 20px;
  /* any height */
  border-left: 1px solid #5e5e5e;
  /* right or left is the same */
  float: right;
  /* so BS grid doesn't break */
  margin: 15px 15px;
}

.header__container .header-user {
  float: right;
}

.header__container .header-user ul {
  padding: 0px;
}

.header__container .header-user ul a {
  color: #5e5e5e;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  margin-top: 10px;
}

.header__container .header-user ul a:hover {
  text-shadow: unset;
}

.header__container .header-user ul a:hover span {
  color: #ed484b;
}

.header__container .header-user ul a:hover {
  background-color: unset;
}

body {
  color: #5e5e5e;
  font-size: 13px;
  font-family: vazir;
  direction: rtl;
}

body a {
  color: #ed484b;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

body a:hover {
  color: #f27679;
  text-decoration: none;
}

body .theme-button {
  padding: 20px 0;
}

body .theme-button a {
  color: #333333;
  font-size: 13px;
  background-color: #e1e1e1;
  border-radius: 3px;
  padding: 12px 26px;
  border: none;
}

body .theme-button a:visited, body .theme-button a :active {
  color: #333333;
  text-decoration: none;
}

body .theme-button a:hover, body .theme-button a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed484b;
  text-decoration: none;
  color: white;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed484b;
            box-shadow: 0 0 0 0 #ed484b;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed484b;
            box-shadow: 0 0 0 0 #ed484b;
  }
}

body .theme-button-dark {
  padding: 20px 0;
}

body .theme-button-dark a {
  color: white;
  font-size: 13px;
  background-color: #333333;
  border-radius: 2px;
  padding: 12px 26px;
  border: none;
}

body .theme-button-dark a:visited, body .theme-button-dark a :active {
  color: white;
  text-decoration: none;
}

body .theme-button-dark a:hover, body .theme-button-dark a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed484b;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed484b;
            box-shadow: 0 0 0 0 #ed484b;
  }
}

body .theme-button-colored {
  padding: 20px 0;
}

body .theme-button-colored a {
  color: white;
  font-size: 13px;
  background-color: #ed484b;
  border-radius: 2px;
  padding: 12px 26px;
  border: none;
}

body .theme-button-colored a:visited {
  color: white;
}

body .theme-button-colored a:hover, body .theme-button-colored a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #333333;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed484b;
            box-shadow: 0 0 0 0 #ed484b;
  }
}

body .theme-button-transparent {
  padding: 20px 0;
}

body .theme-button-transparent a {
  color: white;
  font-size: 13px;
  background-color: unset;
  border-radius: 2px;
  padding: 12px 26px;
  border: 1px solid white;
}

body .theme-button-transparent a:visited {
  color: white;
}

body .theme-button-transparent a:hover, body .theme-button-transparent a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed484b;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed484b;
            box-shadow: 0 0 0 0 #ed484b;
  }
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  position: relative;
  color: #3e4041;
}

body h1 small, body h2 small, body h3 small, body h4 small, body h5 small, body h6 small {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
}

body hr {
  border-top: 2px solid #ed484b;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.slider__container {
  background-color: #c57373;
  height: 800px;
}

.slider__container .slider-bar {
  height: 5px;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1;
}

.slider__container > ul {
  list-style-type: none;
  padding: 0px;
}

.slider__container > ul > li {
  height: 800px;
  overflow: hidden;
  position: absolute;
}

.slider__container > ul > li img.slider-background {
  height: 100%;
  width: 100%;
}

.slider__container > ul > li .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 90px;
  margin-top: -610px;
}

.slider__container > ul > li .slider-content > div {
  width: calc(50% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 10px;
}

.slider__container > ul > li .slider-content > div img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.slider__container > ul > li .slider-content .slider-caption {
  text-align: left;
  color: white;
  line-height: 38px;
  padding-top: 65px;
}

.slider__container > ul > li .slider-content .slider-caption h2 {
  font-size: 38px;
  color: white;
}

.slider__container > ul > li .slider-content .slider-caption h2 small {
  color: white;
}

.slider__container > ul > li .slider-content .slider-caption hr {
  border: 1px solid white;
  width: 99px;
  margin-left: -1px;
}

.slider__container > ul > li .slider-content .slider-caption ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
  margin-bottom: 26px;
}

.slider__container > ul > li .slider-content .slider-caption ul li span {
  font-size: 20px;
  margin-left: 10px;
}

.intro__container {
  padding: 10px;
}

.intro__container .row > div {
  float: right;
}

.intro__container figure div {
  background-color: #efefef;
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  padding-top: 55px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.intro__container figure div img {
  vertical-align: middle;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 60px;
}

.intro__container figure div:hover {
  -webkit-box-shadow: inset 0px 0px 20px 70px rgba(237, 72, 75, 0.3);
          box-shadow: inset 0px 0px 20px 70px rgba(237, 72, 75, 0.3);
}

.intro__container figure div:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.intro__container figure figcaption {
  margin-top: 40px;
}

.intro__container figure figcaption hr {
  width: 40px;
  border-top: 2px solid #343434;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro__container figure figcaption p {
  line-height: 23px;
  font-size: 13px;
  margin: 0px;
}

.contentslider__container {
  width: 100%;
}

.contentslider__container ul {
  list-style-type: none;
  padding: 0px;
  position: relative;
  height: 300px;
}

.contentslider__container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 300px;
}

.contentslider__container ul li .contentslider-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentslider__container ul li .contentslider-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.contentslider__container ul li .contentslider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eeeeee;
  -webkit-box-shadow: -3px 0px 12px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -3px 0px 12px 0px rgba(0, 0, 0, 0.6);
  position: relative;
}

.contentslider__container ul li .contentslider-text .contentslider-triangleshadow {
  position: absolute;
  width: 0;
  height: 0;
  top: 85px;
  right: -10px;
  border: 10px solid #eeeeee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
}

.contentslider__container ul li .contentslider-text .contentslider-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 75px;
  right: -9px;
  border: 20px solid #eeeeee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contentslider__container ul li .contentslider-text > div {
  z-index: 1;
  width: 100%;
  padding: 20px 21% 20px 8%;
}

.contentslider__container ul li .contentslider-text > div hr {
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contentslider__container ul li .contentslider-text > div p {
  line-height: 30px;
  font-size: 13px;
}

.contentslider__container ul li .contentslider-text > div .theme-button a, .contentslider__container ul li .contentslider-text > div .theme-button-colored a {
  padding: 15px 30px;
  font-size: 16px;
}

.portfolio__container {
  text-align: center;
}

.portfolio__container div:nth-child(1) {
  padding-top: 20px;
}

.portfolio__container div:nth-child(1) .theme-button, .portfolio__container div:nth-child(1) .theme-button-colored {
  margin: 10px 3px;
}

.portfolio__container div:nth-child(1) .theme-button a, .portfolio__container div:nth-child(1) .theme-button-colored a {
  border-radius: 0px;
}

.portfolio__container div:nth-child(2) {
  margin-top: 10px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__container div:nth-child(2) figure ul {
  list-style-type: none;
  padding: 0;
}

.portfolio__container div:nth-child(2) figure ul li {
  width: 25%;
  float: right;
}

.portfolio__container div:nth-child(2) figure ul li img {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  width: 100%;
}

.portfolio__container div:nth-child(2) figure ul li img:hover {
  -webkit-filter: contrast(200%) grayscale(1) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
          filter: contrast(200%) grayscale(1) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  z-index: 1;
}

.counter__container {
  background-color: #222222;
}

.counter__container .counter-items > div {
  float: right;
  text-align: center;
  padding: 50px 0px;
}

.counter__container .counter-items > div span {
  color: white;
}

.counter__container .counter-items > div span:first-child {
  color: #ed484b;
  font-size: 34px;
}

.counter__container .counter-items > div hr {
  border-color: white;
}

.tabletslider__container .tableslider-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.tabletslider__container .tableslider-cols > div {
  float: right;
  padding-bottom: 25px;
}

.tabletslider__container .tableslider-cols > div hr {
  margin-right: 0px;
}

.tabletslider__container .tableslider-cols > div:first-child {
  position: relative;
  padding-left: 85px;
}

.tabletslider__container .tableslider-cols > div:first-child > div {
  float: left;
  max-width: 291px;
  max-height: 385px;
  overflow: hidden;
}

.tabletslider__container .tableslider-cols > div:first-child > div img {
  float: left;
  margin-left: 23px;
  margin-top: 10px;
}

.tabletslider__container .tableslider-cols > div:first-child > img {
  position: absolute;
  left: 0;
  top: 0px;
  width: 321px;
  margin-left: 85px;
}

.tabletslider__container .tableslider-cols > div:last-child {
  padding-top: 20px;
}

.tabletslider__container .tableslider-cols > div:last-child ul {
  list-style-type: none;
  padding: 0;
  line-height: 35px;
}

.tabletslider__container .tableslider-cols > div:last-child ul li span.glyphicon {
  color: #ed484b;
  margin-left: 10px;
  font-size: 16px;
}

.aroundimage__container {
  background-color: #eeeeee;
  text-align: center;
}

.aroundimage__container .aroundimage-cols {
  margin-top: 40px;
}

.aroundimage__container .aroundimage-cols > div {
  float: right;
}

.aroundimage__container .aroundimage-cols > div:nth-child(1) {
  padding-bottom: 15px;
}

.aroundimage__container .aroundimage-cols > div:nth-child(2) {
  text-align: right;
}

.aroundimage__container .aroundimage-cols > div:nth-child(2) p {
  margin: 0 0 28px;
}

.aroundimage__container .aroundimage-cols > div:nth-child(3) img {
  width: 250px;
}

.aroundimage__container .aroundimage-cols > div:nth-child(3) span {
  display: inline-block;
  margin-top: 50px;
}

.aroundimage__container .aroundimage-cols > div:nth-child(4) {
  text-align: left;
}

.aroundimage__container .aroundimage-cols > div:nth-child(4) p {
  margin: 0 0 28px;
}

.aroundimage__container .aroundimage-cols > div h4 span {
  color: white;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 20px #ed484b;
          box-shadow: inset 0px 0px 0px 20px #ed484b;
  padding: 10px;
  vertical-align: middle;
  font-size: 12px;
}

.steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.steps__container h4 {
  color: white;
}

.steps__container h4 small {
  color: white;
}

.steps__container hr {
  border-top-color: white;
  margin-right: 0px;
}

.steps__container > div {
  float: right;
  padding: 20px 40px 10px 40px;
}

.steps__container > div span.theme-button-transparent a {
  padding: 8px 26px;
}

.steps__container > div:nth-child(1) {
  background-color: rgba(237, 72, 75, 0.9);
  -webkit-filter: hue-rotate(10deg) brightness(1.2);
          filter: hue-rotate(10deg) brightness(1.2);
}

.steps__container > div:nth-child(2) {
  background-color: #ed484b;
}

.steps__container > div:nth-child(3) {
  background-color: rgba(237, 72, 75, 0.9);
  -webkit-filter: hue-rotate(-4deg) brightness(1.2);
          filter: hue-rotate(-4deg) brightness(1.2);
}

.ourteam__container {
  text-align: center;
}

.ourteam__container .ourteam-cols {
  margin-top: 20px;
}

.ourteam__container .ourteam-cols > div {
  float: right;
}

.ourteam__container .ourteam-cols > div figure img {
  width: 150px;
  height: 150px;
  border: 1px solid #bababa;
}

.ourteam__container .ourteam-cols > div figure figcaption {
  padding-top: 18px;
}

.ourteam__container .ourteam-cols > div figure figcaption hr {
  border-top-color: #bbbbbb;
}

.parallax__container {
  background-image: url("../images/parallex.jpg");
  background-position-x: -200px;
  background-attachment: fixed;
  height: 250px;
  text-align: center;
  color: #fefefe;
  padding-top: 20px;
}

.parallax__container h3 {
  color: #fefefe;
}

.parallax__container h3 small {
  color: #fefefe;
}

.parallax__container hr {
  border-top-color: #fefefe;
}

.parallax__container figure img {
  margin: 0px 20px;
}

.map__container {
  height: 400px;
  overflow: hidden;
}

.map__container .map-cols {
  display: inline-block;
}

.map__container .map-cols div:nth-child(1) {
  background-color: #e5e3df;
  height: 400px;
}

.map__container .map-cols div:nth-child(2) {
  height: 400px;
  -webkit-box-shadow: 3px 0px 12px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 0px 12px 0px rgba(0, 0, 0, 0.6);
  padding: 40px;
}

.map__container .map-cols div:nth-child(2) .map-triangleshadow {
  position: absolute;
  width: 0;
  height: 0;
  top: 85px;
  left: -10px;
  border: 10px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
}

.map__container .map-cols div:nth-child(2) .map-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 75px;
  left: -9px;
  border: 20px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.map__container .map-cols div:nth-child(2) .map-text div {
  float: right;
}

.map__container .map-cols div:nth-child(2) .map-text div h5 span {
  color: white;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 20px #ed484b;
          box-shadow: inset 0px 0px 0px 20px #ed484b;
  padding: 12px;
  vertical-align: middle;
  font-size: 10px;
  float: left;
  margin-top: -10px;
}

.map__container .map-cols div:nth-child(2) .map-text hr {
  margin-right: 0px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child {
  border-top: 1px dashed #aaaaaa;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul {
  list-style-type: none;
  padding: 0px;
  margin: 20px -20px 0px 0px;
  display: inline-block;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li {
  float: right;
  margin: 3px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li a {
  width: 24px;
  height: 24px;
  display: block;
  background: url("../images/social-address.jpg");
  background-size: 203px;
  background-repeat: no-repeat;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li:nth-child(1) a {
  background-position: -180px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li:nth-child(2) a {
  background-position: -150px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li:nth-child(3) a {
  background-position: -120px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li:nth-child(4) a {
  background-position: -90px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li:nth-child(5) a {
  background-position: -60px;
}

.map__container .map-cols div:nth-child(2) .map-text div:last-child ul li:nth-child(6) a {
  background-position: -30px;
}

.footer__container {
  background-color: #262626;
}

.footer__container section:first-child .footer-cols > div {
  float: right;
}

.footer__container section:last-child {
  background: #202020;
}

.footer__container section:last-child .footer-cols > div {
  float: right;
}
/*# sourceMappingURL=style.css.map */