@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir.woff2") format("woff2"), url("../fonts/vazir/Vazir.woff") format("woff"), url("../fonts/vazir/Vazir.ttf") format("truetype"), url("../fonts/vazir/Vazir.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.header__container {
  position: absolute;
  width: 100%;
  top: 70px;
  display: inline-block;
  z-index: 100;
}

.header__container nav {
  background-color: #ffffff;
  height: 120px;
  padding: 24px 0px;
  border-radius: 0px;
}

.header__container .header-logo {
  float: right;
  margin-right: 18px;
}

.header__container .header-logo button span {
  background-color: #5e5e5e;
}

.header__container .header-collapse {
  padding: 0px;
}

.header__container .header-search {
  float: left;
}

.header__container .header-search a {
  color: #5e5e5e;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  margin-top: 2px;
  font-size: 17px;
}

.header__container .header-search a:hover span {
  color: #ed474a;
}

.header__container .header-search form {
  padding: 0px;
}

.header__container .header-search form input {
  width: 0px;
  opacity: 0;
  padding: 0px;
}

.header__container .header-menu {
  margin-top: 10px;
}

.header__container .header-menu ul {
  padding: 0px;
}

.header__container .header-menu ul li {
  float: right;
}

.header__container .header-menu ul li a {
  color: #5e5e5e;
}

.header__container .header-menu ul li a span {
  padding-bottom: 2px;
}

.header__container .header-menu ul li a:hover {
  background-color: unset;
}

.header__container .header-menu ul li a:hover span {
  color: #ed474a;
  border-bottom: 2px solid #ed474a;
}

.header__container .header-menu ul li.active a span {
  color: #ed474a;
  border-bottom: 2px solid #ed474a;
}

.header__container .header-menu ul li.menu-divider {
  height: 20px;
  /* any height */
  border-left: 1px solid #5e5e5e;
  /* right or left is the same */
  float: left;
  /* so BS grid doesn't break */
  margin: 15px 15px;
}

.header__container .header-user {
  float: left;
}

.header__container .header-user ul {
  padding: 0px;
}

.header__container .header-user ul a {
  color: #5e5e5e;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  margin-top: 10px;
}

.header__container .header-user ul a:hover span {
  color: #ed474a;
}

.header__container .header-user ul a:hover {
  background-color: unset;
}

body {
  color: #5e5e5e;
  font-size: 14px;
  font-family: vazir;
  direction: rtl;
}

.slider_container {
  background-color: #c57373;
  height: 800px;
}

.slider_container .slider-bar {
  height: 5px;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.slider_container > ul {
  list-style-type: none;
  padding: 0px;
}

.slider_container > ul > li {
  height: 800px;
  overflow: hidden;
}

.slider_container > ul > li img.slider-background {
  height: 100%;
  width: 100%;
}

.slider_container > ul > li .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 90px;
  margin-top: -610px;
}

.slider_container > ul > li .slider-content > div {
  width: calc(50% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 10px;
}

.slider_container > ul > li .slider-content > div img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.slider_container > ul > li .slider-content .slider-caption {
  text-align: left;
  color: white;
  line-height: 38px;
  padding-top: 22px;
}

.slider_container > ul > li .slider-content .slider-caption h2 {
  font-size: 38px;
}

.slider_container > ul > li .slider-content .slider-caption hr {
  border: 1px solid white;
  width: 99px;
  margin-left: -1px;
}

.slider_container > ul > li .slider-content .slider-caption ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
}

.slider_container > ul > li .slider-content .slider-caption ul li span {
  font-size: 20px;
  margin-left: 10px;
}

.slider_container > ul > li .slider-content .slider-caption .slider-button {
  padding: 20px 0;
}

.slider_container > ul > li .slider-content .slider-caption .slider-button a {
  color: white;
  font-size: 13px;
  background-color: #333333;
  border-radius: 3px;
  padding: 12px 26px;
  border: none;
}

.slider_container > ul > li .slider-content .slider-caption .slider-button a:hover, .slider_container > ul > li .slider-content .slider-caption .slider-button a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed474a;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed474a;
            box-shadow: 0 0 0 0 #ed474a;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed474a;
            box-shadow: 0 0 0 0 #ed474a;
  }
}

body {
  color: #5e5e5e;
  font-size: 14px;
  font-family: vazir;
  direction: rtl;
}

.slider_container {
  background-color: #c57373;
  height: 800px;
}

.slider_container .slider-bar {
  height: 5px;
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.slider_container > ul {
  list-style-type: none;
  padding: 0px;
}

.slider_container > ul > li {
  height: 800px;
  overflow: hidden;
}

.slider_container > ul > li img.slider-background {
  height: 100%;
  width: 100%;
}

.slider_container > ul > li .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 90px;
  margin-top: -610px;
}

.slider_container > ul > li .slider-content > div {
  width: calc(50% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 10px;
}

.slider_container > ul > li .slider-content > div img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.slider_container > ul > li .slider-content .slider-caption {
  text-align: left;
  color: white;
  line-height: 38px;
  padding-top: 22px;
}

.slider_container > ul > li .slider-content .slider-caption h2 {
  font-size: 38px;
}

.slider_container > ul > li .slider-content .slider-caption hr {
  border: 1px solid white;
  width: 99px;
  margin-left: -1px;
}

.slider_container > ul > li .slider-content .slider-caption ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
}

.slider_container > ul > li .slider-content .slider-caption ul li span {
  font-size: 20px;
  margin-left: 10px;
}

.slider_container > ul > li .slider-content .slider-caption .slider-button {
  padding: 20px 0;
}

.slider_container > ul > li .slider-content .slider-caption .slider-button a {
  color: white;
  font-size: 13px;
  background-color: #333333;
  border-radius: 3px;
  padding: 12px 26px;
  border: none;
}

.slider_container > ul > li .slider-content .slider-caption .slider-button a:hover, .slider_container > ul > li .slider-content .slider-caption .slider-button a :focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  -webkit-box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
          box-shadow: 0 0 10px 30px rgba(255, 255, 255, 0);
  background-color: #ed474a;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ed474a;
            box-shadow: 0 0 0 0 #ed474a;
  }
}

section, article, aside, div {
  border: 1px dotted #0075c4;
}

section > section, section > div, article > section, article > div, aside > section, aside > div, div > section, div > div {
  border: 1px solid #13a000;
}

section > section > section, section > section > div, section > div > section, section > div > div, article > section > section, article > section > div, article > div > section, article > div > div, aside > section > section, aside > section > div, aside > div > section, aside > div > div, div > section > section, div > section > div, div > div > section, div > div > div {
  border: 1px dashed red;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, img {
  border: 1px dotted #ff4800;
}

h1 > h1, h1 > h2, h1 > h3, h1 > h4, h1 > h5, h1 > h6, h1 > p, h1 > ul, h1 > ol, h1 > li, h1 > a, h1 > span, h1 > img, h2 > h1, h2 > h2, h2 > h3, h2 > h4, h2 > h5, h2 > h6, h2 > p, h2 > ul, h2 > ol, h2 > li, h2 > a, h2 > span, h2 > img, h3 > h1, h3 > h2, h3 > h3, h3 > h4, h3 > h5, h3 > h6, h3 > p, h3 > ul, h3 > ol, h3 > li, h3 > a, h3 > span, h3 > img, h4 > h1, h4 > h2, h4 > h3, h4 > h4, h4 > h5, h4 > h6, h4 > p, h4 > ul, h4 > ol, h4 > li, h4 > a, h4 > span, h4 > img, h5 > h1, h5 > h2, h5 > h3, h5 > h4, h5 > h5, h5 > h6, h5 > p, h5 > ul, h5 > ol, h5 > li, h5 > a, h5 > span, h5 > img, h6 > h1, h6 > h2, h6 > h3, h6 > h4, h6 > h5, h6 > h6, h6 > p, h6 > ul, h6 > ol, h6 > li, h6 > a, h6 > span, h6 > img, p > h1, p > h2, p > h3, p > h4, p > h5, p > h6, p > p, p > ul, p > ol, p > li, p > a, p > span, p > img, ul > h1, ul > h2, ul > h3, ul > h4, ul > h5, ul > h6, ul > p, ul > ul, ul > ol, ul > li, ul > a, ul > span, ul > img, ol > h1, ol > h2, ol > h3, ol > h4, ol > h5, ol > h6, ol > p, ol > ul, ol > ol, ol > li, ol > a, ol > span, ol > img, li > h1, li > h2, li > h3, li > h4, li > h5, li > h6, li > p, li > ul, li > ol, li > li, li > a, li > span, li > img, a > h1, a > h2, a > h3, a > h4, a > h5, a > h6, a > p, a > ul, a > ol, a > li, a > a, a > span, a > img, span > h1, span > h2, span > h3, span > h4, span > h5, span > h6, span > p, span > ul, span > ol, span > li, span > a, span > span, span > img, img > h1, img > h2, img > h3, img > h4, img > h5, img > h6, img > p, img > ul, img > ol, img > li, img > a, img > span, img > img {
  border: 1px solid #ffc400;
}
/*# sourceMappingURL=style.css.map */