//-----------------------------------//
//             Portfolio             //
//       Called by _main.scss        //
//-----------------------------------//
.portfolio__container{
    text-align: center;

    div:nth-child(1){
        padding-top: 60px;
        p{
            margin: 40px 40px 48px 40px;
        }
        .theme-button, .theme-button-colored{
            margin: 10px 3px;
            a{
                border-radius: 0px;
                padding: 12px 36px;;
            }
        }
    }
    div:nth-child(2){
        margin-top: 43px;
        background-color: #222222;
        display: flex;

        figure{
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    width: 25%;
                    float: right;
                    overflow: hidden;
                    img{
                        transition-duration: 500ms;
                        width: 100%;
        
                        &:hover{
                            filter: contrast(200%) grayscale(1);
                            transition-duration: 800ms;
                            transform: rotate(1deg);
                            width: 105%;
                            margin: -6px -6px 0px 0px;
                            z-index: 1;
                        }
                    }
                }
            }
            
        }
    }
}