//-----------------------------------//
//             Portfolio             //
//       Called by _main.scss        //
//-----------------------------------//
.portfolio__container{
    text-align: center;

    div:nth-child(1){
        padding-top: 20px;
        .theme-button, .theme-button-colored{
            margin: 10px 3px;
            a{
                border-radius: 0px;
            }
        }
    }
    div:nth-child(2){
        margin-top: 10px;
        background-color: #222222;
        display: flex;

        figure{
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    width: 25%;
                    //overflow: hidden;
                    float: right;

                    img{
                        transition-duration: 500ms;
                        width: 100%;
        
                        &:hover{
                            filter: contrast(200%) grayscale(1) drop-shadow(0px 0px 5px rgba(0,0,0,0.9));
                            transition-duration: 500ms;
                            transform: rotate(2deg);
                            z-index: 1;
                        }
                    }
                }
            }
            
        }
    }
}