//-----------------------------------//
//            tabletslider           //
//       Called by _main.scss        //
//-----------------------------------//
.tabletslider__container{
    .tableslider-cols{
        display: flex;
        padding: 70px 30px 50px;
        >div{
            float: right;
            padding-bottom: 25px;
            hr{
                margin-right: 0px;
            }
            &:first-child{
                position: relative;
                margin-top: 23px;
                >div{
                    float: left;
                    max-width: 58%;
                    max-height: 456px;
                    margin-left: 25%;
                    overflow: hidden;
                    img{
                        float: left;
                        margin-top: 10px;
                    }
                }
                >img{
                    position: absolute;
                    left: 0;
                    top: 0px;
                    margin-left: 22%;
                }
                
            }
            &:last-child{
                padding-top: 20px;
                p{
                    margin: 35px 0px 20px;
                    line-height: 23px;
                }
                ul{
                    list-style-type: none;
                    padding: 0;
                    line-height: 35px;

                    li{
                        span.glyphicon{
                            color: $themeColor;
                            margin-left: 10px;
                            font-size: 16px;
                        }
                    }
                }
                span{
                    a{
                        margin: 26px 0;
                        padding: 17px 32px;
                    }
                }
            }
        }
    }
}