//-----------------------------------//
//            tabletslider           //
//       Called by _main.scss        //
//-----------------------------------//
.tabletslider__container{
    .tableslider-cols{
        display: flex;
        padding: 30px;
        >div{
            float: right;
            hr{
                margin-right: 0px;
            }
            &:first-child{
                position: relative;
                padding-left: 85px;
                >div{
                    float: left;
                    max-width: 291px;
                    max-height: 385px;
                    overflow: hidden;
                    img{
                        float: left;
                        margin-left: 23px;
                        margin-top: 10px;
                    }
                }
                >img{
                    position: absolute;
                    left: 0;
                    top: 0px;
                    width: 321px;
                    margin-left: 85px;
                }
                
            }
            &:last-child{
                padding-top: 20px;
                ul{
                    list-style-type: none;
                    padding: 0;
                line-height: 35px;

                    li{
                        span.glyphicon{
                            color: $themeColor;
                            margin-left: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}